<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Golfnow.Mobile.Models.DataContracts" version="1.0.6" targetFramework="xamarinios10" />
  <package id="GolfNow.Mobile.Salesforce" version="1.0.4" targetFramework="xamarinios10" />
  <package id="GolfNow.Mobile.Salesforce.JB4A.iOS" version="1.0.0" targetFramework="xamarinios10" />
  <package id="Golfnow.Mobile.Services.Authentication" version="1.0.27" targetFramework="xamarinios10" />
  <package id="Golfnow.Mobile.Services.AuthenticationService" version="1.0.28" targetFramework="xamarinios10" />
  <package id="Golfnow.Mobile.Services.Common" version="1.0.15" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="xamarinios10" />
  <package id="NuGet.Build.Packaging" version="0.2.2" targetFramework="xamarinios10" developmentDependency="true" />
</packages>